apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets-infra
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/andsus/devops-labs.git
    targetRevision: main
    path: 90-n8n/infrastructure/sealed-secrets
  destination:
    server: https://kubernetes.default.svc
    namespace: sealed-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true