apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: calico-argocd
servers: 1
agents: 3
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
options:
  k3s:
    extraArgs:
      # Disable default Flannel CNI
      - arg: --flannel-backend=none
        nodeFilters:
          - server:*
      # Disable default network policy controller (Calico will handle it)
      - arg: --disable-network-policy
        nodeFilters:
          - server:*
